.listingContainer {
    position: relative;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
    margin-bottom: 4px
}

p {
    margin: 0;
}


input[type="checkbox"] {
    margin: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #222;
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    border-width: 7px;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.button {
    border: 1px solid #DDDDDD;
    background-color: white;
    border-radius: 16px;
    padding: 1em 1.5em;
    cursor: pointer;
}

.startButton {
    border: 1px solid #DDDDDD;
    background-color: white;
    border-radius: 16px;
    padding: 1em 1.5em;
    cursor: pointer;
/* condition below */
    width: 100%;
}

.footerButtons {
    display: flex;
    margin: 1em;
}

.pageContent {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 24px;
    max-width: 630px;
}

.contentSection {
    display: flex;
    gap: 16px
}

.intrustion {
    display: flex;
    flex-direction: column;
}


.textarea {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 12px; 
    box-shadow: grey 0px 0px 0px 1px;
    font-size: 1.5em; 
    padding: 16px
}

.textarea:focus { 
    outline: none;
    box-shadow: inset 0 0 0 2px #000000;
}

.words_limit {
    padding-top: 8px;
    color: rgb(106, 106, 106);
    font-weight: 700;
    font-size: 0.85em
}

.house_type_box {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    color: #6A6A6A;
    gap: 16px
}

.house_type_option {
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 12px;
    padding: 24px 18px; 
    /* border = unclicked */
    border: 1px solid rgb(221, 221, 221); 
    /* box-shadow = clicked */
    
    cursor: pointer;
    border-radius: 12px
}

.house_type_option .selected {
    background-color: #000000;
    box-shadow: rgb(34, 34, 34) 0px 0px 0px 2px;
}

.house_type_option > div > h4 {
    margin: 0;
    padding-bottom: 4px;
    color: #000000;
    font-weight: 500
}

.house_type_option > div > p {
    font-size: 0.9em
}

.house_type_icon {
    color: #000000;
    flex-shrink: 0
}

.house_featues {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0;
    color: #6A6A6A;
    gap: 16px
}

.price_setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    border-radius: 8px;
    gap: 24px
}

.price_input {
    border: none;
    font-weight: 500;
    font-size: clamp(2.5rem, 5em, 10vw);
    width: 100%;
    text-align: center;
    line-height: 120px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12)
}

.price_input:focus {
    outline: none;
}

.contact_container {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    gap: 48px
}

.mobile_contact_container {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    gap: 48px
}

.demo_container {
    background-color:#FFFFFF;
    padding: 16px;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12)
}

.mobile_demo_container {
    background-color:#FFFFFF;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    margin: 0px auto;
}

.contact_information_container {
    display: flex;
    flex-direction: column;
    gap: 1.5em
}





