.listingContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100dvh;
    width: 100vw;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
    margin-bottom: 4px
}

p {
    margin: 0;
}

input[type="checkbox"] {
    margin: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #222;
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    border-width: 7px;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.footer {
    width: 100vw;
}

.button {
    border: 1px solid #DDDDDD;
    background-color: white;
    border-radius: 24px;
    padding: 12px 16px;
    font-size: 0.975rem;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.back_button {
    border: none;
    background-color: white;
    padding: 12px 16px;
    cursor: pointer;
    font-size: 0.975rem;
    font-weight: 500;
    margin-left: -10px;
    text-decoration: underline;
    font-family: 'Inter', sans-serif;
}

.next_button {
    border: none;
    background-color: #222222;
    color: white;
    padding: 16px 24px;
    cursor: pointer;
    font-size: 0.975rem;
    font-weight: 500;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
}

.startButton {
    border: 1px solid #DDDDDD;
    color: white;
    background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    border-radius: 8px;
    padding: 1em 1.5em;
    cursor: pointer;
    font-size: 0.95em;
    font-weight: bold;
/* condition below */
    
    width: 100%;
}

.upload_button {
    border: 1px solid #DDDDDD;
    color: white;
    background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    border-radius: 8px;
    padding: 12px 30px;
    font-size: 0.975rem;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.footerButtons {
    display: flex;
    margin: 1em;
}

.pageContent {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 0px 24px;
    max-width: 630px;
    flex: 1;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.pageContent::-webkit-scrollbar {
    display: none;
}


.start_content_section {
    display: flex;
    gap: 16px;
    padding: 24px 0;

}

.intrustion {
    display: flex;
    flex-direction: column;
}

.start_content_section .number,
.intrustion > h2 {
    font-size: 1.125em;
    line-height: 1.5em;
    font-weight: 500;
    margin: 0;
}

.intrustion > h3 {
    font-size: 0.875em;
    font-weight: 400;
    color: #6A6A6A;
    line-height: 1.5em;
    margin: 0;
}

.textarea {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 12px; 
    box-shadow: grey 0px 0px 0px 1px;
    font-size: 1.5em; 
    padding: 16px
}

.textarea:focus { 
    outline: none;
    box-shadow: inset 0 0 0 2px #000000;
}

.words_limit {
    padding-top: 8px;
    color: rgb(106, 106, 106);
    font-weight: 700;
    font-size: 0.85em
}

.house_type_box {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    color: #6A6A6A;
    gap: 16px
}

.house_type_option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 18px; 
    gap: 8px;
    border: 1px solid rgb(221, 221, 221); 
    cursor: pointer;
    border-radius: 12px;
}

.house_type_option .selected {
    background-color: #000000;
    box-shadow: rgb(34, 34, 34) 0px 0px 0px 2px;
}

.house_type_option > div > h2 {
    margin: 0;
    padding-bottom: 4px;
    color: #000000;
    font-size: 1.125rem;
    font-weight: 500
}

.house_type_option > div > div {
    font-size: 0.9em
}

.house_type_icon {
    color: #000000;
    flex-shrink: 0
}

.house_features_area {
    overflow-y: scroll;
    padding-right: 4px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.house_features_area::-webkit-scrollbar {
    display: none;
}

.house_featues {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 24px;
    padding-left: 4px;
    color: #6A6A6A;
    gap: 12px;
}

.house_feature_option {
    display: flex;
    align-items: center;
    padding: 24px 18px; 
    gap: 8px;
    border: 1px solid rgb(221, 221, 221); 
    cursor: pointer;
    border-radius: 12px;
    flex: 0 1 calc(50% - 50px);
}

.price_setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    border-radius: 8px;
    gap: 24px
}

.price_input {
    border: none;
    border-radius: 16px;
    font-weight: 500;
    font-size: clamp(0.875rem, 1.55rem, 1.75rem);
    width: 100%;
    text-align: center;
    line-height: 60px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12)
}

.price_input:focus {
    outline: none;
}

.contact_container {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    gap: 48px
}

.mobile_contact_container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 24px;
}

.demo_container {
    background-color:#FFFFFF;
    padding: 16px;
    width: 50%;
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,0.04);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12)
}

.mobile_demo_container {
    background-color:#FFFFFF;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,0.04);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    margin: 0px auto;
    width: 80%;
}

.contact_information_container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-bottom: 24px;
}

.preview_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3); /* semi-transparent dark overlay */
    backdrop-filter: blur(2px); /* blurry effect behind overlay */
    z-index: 1000;
}

.preview_container {
    position: absolute;
    bottom: 0;
    min-width: 100vw;
    z-index: 2;
}

.preview_card {
    background-color:#FFFFFF;
    border-radius: 24px;
    border: 1px solid rgba(0,0,0,0.04);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    margin: 0px auto;
    min-width: 30%;
}   
  
.preview_header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    border-bottom: 1px solid #DDDDDD;
}

.preview_header > h1 {
    font-size: 1.075em;
}

.preview_header > button {
    position: absolute;
    display: flex;
    border: none;
    background: white;
    cursor: pointer;
    left: 0;
    border-radius: 25px;
    margin-left: 2em;
    transition: background-color 0.2s ease;
}

.preview_header > button:hover {
    background-color: #F7F7F7;
}

.preview_details {
    scrollbar-width: none;    /* Firefox */
    -ms-overflow-style: none;
}

.preview_details::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.spinner {
  width: 13px;
  height: 13px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
    
    .pageContent {
        justify-content: center;
        max-width: 680px;
        margin-bottom: 1rem;
    }

    .header {
        padding: 1em 4em;
    }

    .footerButtons {
        margin: 1em 4em;
    }

    .startButton {
        width: unset;
    }

    .start_content_section .number,
    .intrustion > h2 {
        font-size: 1.375em;
    }

    .intrustion > h3 {
        font-size: 1.125em;
    }

    .preview_container {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .preview_card {
        max-width: 800px
    }

    .preview_header > h1 {
        font-size: 1.25em;
    }

}





