.preview_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  /* semi-transparent dark overlay */
  backdrop-filter: blur(2px);
  /* blurry effect behind overlay */
  z-index: 1000;
}

.preview_container {
  position: absolute;
  bottom: 0;
  min-width: 100vw;
  min-height: 100dvh;
  z-index: 2;
}

.preview_card {
  background-color: #FFFFFF;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  margin: 0px auto;
  min-width: 25%;
  height: 100dvh;
  overflow-y: scroll;
}

.preview_card {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
}

.preview_card::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.preview_header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 0 auto;
  max-width: 300px;
}

.preview_header>span>h1 {
  font-size: 1.2em;
}

.preview_header>button {
  padding: 8px 10px;
}

.preview_header>button:hover {
  background-color: #F7F7F7;
}

.preview_image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px auto;
  max-width: 300px
}

.preview_details {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 300px;
}

.preview_details>h1 {
  font-size: 1.375em;
}

.preview_details {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;

}

.preview_details::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.preview_footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 10px;
  margin: 0 auto;
  max-width: 310px;
  min-width: 300px;
}

.preview_back_button {
  background: linear-gradient(to right, #588AC8 0%, #588AC8 50%, #4C7CC0 100%);
  color: white;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  border: none;
  font-family: 'Inter', sans-serif;
}

.preview_contact_button {
  padding: 12px;
  border-radius: 12px;
  background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  flex: 1;
}

.options_button {
  border: 1px solid #DDDDDD;
  background-color: white;
  padding: 16px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 714px) {

  .preview_card {
    max-width: max-content;
  }

  .preview_image {
    max-width: 400px;
    flex-direction: column;
    align-items: unset;
    margin: 12px;
  }

  .preview_header>h1 {
    font-size: 1.25em;
  }

}