.header {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  justify-content: space-between;
  text-align: start;
  z-index: 1000;
  border: none;
  pointer-events: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
}

.left_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.right_footer {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.title {
  font-size: 0.875em;
  background-color: #FAFBF8;
  box-shadow: 0 0 0 1px transparent,0 0 0 4px transparent, 0 2px 4px rgba(0,0,0,0.18);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) saturate(180%);
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
}

.title > h1 {
  margin: 0;
  padding-bottom: 4px;
}

.main_container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map_box {
  overflow: hidden;
}

.cta_div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  gap: 1em;
  padding: 1em;
  align-items: stretch;
}

.cta_button {
  padding: 12px;
  border-radius: 12px;
  background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  flex: 1;
}

.nearby_button {
  background: linear-gradient(to right, #588AC8 0%, #588AC8 50%, #4C7CC0 100%);
  color: white;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  border: none;
  font-family: 'Inter', sans-serif;
}

.cta_button > h2,
.nearby_button > h2 {
  margin: 0;
  font-size: 0.825rem;
  font-family: 'Inter', sans-serif;
}

.mapContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
}
  
.map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.map > div > div:nth-child(4) {
  z-index: 651;
}

.map > div > div:nth-child(5) > div{
  border: none;
  box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent, 0 2px 4px rgba(0, 0, 0, 0.18);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) saturate(180%);
}

p {
  margin-top: 0;
}
  
.listing_name {
  margin-top: 0;
  font-size: 0.9075rem;
  font-family: 'Inter', sans-serif;
  overflow: hidden
}

.listing_prices {
  font-size: 0.8075rem;
  font-weight: 600;
}

.listing_status {
  font-size: 0.7075rem;
  line-height: 1.8;
}

.content > div:nth-child(1) > div{
  margin: 13px 6px 13px 6px;
}

.login {
  padding: 0.75rem 1.5rem;
  font-size: 1rem
}

.preview_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3); /* semi-transparent dark overlay */
  backdrop-filter: blur(2px); /* blurry effect behind overlay */
  z-index: 1000;
}

.preview_container {
  position: absolute;
  bottom: 0;
  min-width: 100vw;
  z-index: 2;
}

.preview_card {
  background-color:#FFFFFF;
  border-radius: 24px;
  border: 1px solid rgba(0,0,0,0.04);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  margin: 0px auto;
  min-width: 30%;
}   

.preview_header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border-bottom: 1px solid #DDDDDD;
}

.preview_header > h1 {
  font-size: 1.075em;
}

.preview_header > button {
  position: absolute;
  display: flex;
  border: none;
  background: white;
  cursor: pointer;
  left: 0;
  border-radius: 25px;
  margin-left: 2em;
  transition: background-color 0.2s ease;
}

.preview_header > button:hover {
  background-color: #F7F7F7;
}

.preview_image {
  display: flex;
  align-items:center;
  justify-content: center;
  margin: 12px auto;
  max-width: 300px
}

.preview_details > h1 {
  font-size: 1.375em;
}

.preview_details {
  scrollbar-width: none;    /* Firefox */
  -ms-overflow-style: none;
  max-width: 300px;
}

.preview_details::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@media screen and (min-width: 714px) {

  .header {
    padding: 1rem;
  }

  .footer {
    width: 100%;
  }

  .cta_div {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .main_container {
    min-width: 680px;
    margin: 0 auto;
  }

  .staycation_name {
    margin-top: 0;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
  }

  .title {
    font-size: 1.2em;
    width: unset;
  }

  .staycation_prices {
    font-size: 0.8075rem;
  }

  .cta_button {
    padding: 1em 2em;
    border-radius: 8px;
    background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.975rem;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    flex: unset;
  }

  .nearby_button {
    padding: 1em 2em;
    font-size: 0.975rem;
    border-radius: 8px;
  }

  .cta_button > h2,
  .nearby_button > h2 {
    margin: 0;
    font-size: 1.275rem;
  }

  .preview_container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  .preview_card {
      max-width: 800px
  }

  .preview_image {
    max-width: 400px;
    flex-direction: column;
    align-items: unset;
    margin: 12px;
  }

  .preview_header > h1 {
      font-size: 1.25em;
  }

}